@import './media-queries';
@import './animations';

.contact-container {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    padding-left: 5%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    // background-color: #383838;
    // background: linear-gradient(to right, #383838 20%, white);

    // transform: translateX(-100%);

    transition: opacity 1s,
                transform 1s,
                visibility 0s 1s;

    form {
        width: 600px;
        height: fit-content;
        height: 100%;
        padding: 40px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        transform: translateX(-20%);

        border: 1px solid #414141;
        background-color: #383838;

        transition: transform 1s;

        .contact-header {
            color: white;
            font-size: 1.8rem;

            @include w560 {
                font-size: 1.3rem;
            }
        }

        button {
            padding: 5px 10px;
            background-color: transparent;
            border: 1px solid transparent;
            color: white;
            font-family: $bodoni-moda;
            font-size: 1.2rem;

            cursor: pointer;
            
            &:hover {
                border-color: #414141;
            }

            @include w560 {
                font-size: 1rem;
                padding: 3px 7px;
            }
        }
        
        input {
            width: 100%;
            padding: 15px;
            outline: none;
            border: none;
            border-bottom: 1px solid #414141;
            color: white;
            background-color: transparent;
            
            font-size: 1.3rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-family: $bodoni-moda;
            
            &:focus {
                outline: 1px solid #414141;
            }

            &::placeholder {
                color: white;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-family: $bodoni-moda;
            }

            @include w560 {
                font-size: 1rem;
                padding: 10px;
            }
        }
        
        textarea {
            width: 100%;
            height: 300px;
            padding: 15px;
            outline: none;
            padding: 10px;
            border: none;
            color: white;
            background-color: transparent;
            font-size: 1.3rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-family: $bodoni-moda;
            resize: none;

            @include w560 {
                font-size: 1rem;
                padding: 10px;
            }
        }

        .confirmation {
            width: 100%;
            height: 100%;
    
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            color: white;
            background: linear-gradient( to top, #38383800, #383838 40%, #383838 60%, #38383800 );

            visibility: hidden;
            opacity: 0;

            pointer-events: none;

            transition: visibility 0s 0.5s,
                        opacity 0.5s;
    
            .loading {
                width: 100px;
                height: 100px;
    
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .loading-visual {
                    width: 100%;
                    height: 100%;
    
                    border: 1px solid white;
                    border-radius: 40%;

                    transition: border-radius 1s,
                                border-color 1s,
                                background-color 1s;
                    animation: rotate-cw 1s forwards infinite;
                }

                .confirmation-text {
                    position: absolute;

                    opacity: 0;

                    transition: opacity 0.5s 0.5s;

                    &.loading-text {
                        opacity: 1;
                    }
                }

                &.success {
                    .loading-visual {
                        // animation-iteration-count: 1;
                        border-radius: 50%;
                        border-color: rgb(101, 158, 101);
                        background-color: rgb(101, 158, 101);
                    }

                    .loading-text {
                        opacity: 0;
                        transition: opacity 0.5s;
                    }
                    
                    .success-text {
                        opacity: 1;
                        transition: opacity 0.5s 0.5s;
                    }
                }
                
                &.error {
                    .loading-visual {
                        // animation-iteration-count: 1;
                        border-radius: 50%;
                        border-color: rgb(196, 106, 106);
                        background-color: rgb(196, 106, 106);
                    }
                    
                    .loading-text {
                        opacity: 0;
                        transition: opacity 0.5s;
                    }
                    
                    .error-text {
                        opacity: 1;
                        transition: opacity 0.5s 0.5s;
                    }
                }
            }

            &.show {
                visibility: visible;
                opacity: 1;

                transition: opacity 0.5s;
            }
        }

        @include w560 {
            gap: 10px;
        }
    }

    &.show {
        // transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        transition: opacity 1s,
                    transform 1s;

        form {
            transform: translateX(0%);
        }
    }

    &.init {
        transition: none;
    }

    @include w660 {
        justify-content: center;
        padding: 0;
    }
}