#projects-section {

    .wrapper {

        .projects {

            width: 100%;
            height: 100%;

            display: flex;

            overflow: hidden;

            .projects-navigation {

                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 0;

                transition: opacity 1s;

                pointer-events: none;

                .projects-navigate {

                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 50%;

                    transform: translateY(-50%);

                    border: none;
                    border-radius: 50%;
                    background-color: white;

                    opacity: 0.5;

                    transition: opacity 0.5s;

                    pointer-events: all;

                    span {
                        width: 30%;
                        height: 30%;

                        position: absolute;

                        top: 50%;
                        left: 50%;
                        transform-origin: center;

                        background-color: transparent;
                    }

                    &--left {

                        left: 20px;

                        span {
                            border-left: 3px solid black;
                            border-bottom: 3px solid black;
                            
                            transform: translate(-30%, -50%) rotate(45deg);
                        }

                        
                    }
                    
                    &--right {

                        right:  20px;
                        
                        span {
                            border-right: 3px solid black;
                            border-bottom: 3px solid black;
                            transform: translate(-70%, -50%) rotate(-45deg);
                        }
                        
                    }

                    &:hover {
                        opacity: 1;
                    }

                    @include w1280 {
                        top: 85%;
                    }

                }

            }

            .projects-container {
                width: 100%;
                height: 100%;
    
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;
                flex-shrink: 0;
    
                @include w1280 {
                    flex-flow: column;
                }
    
                .project {
                    width: 475px;
                    height: 273px;
    
                    position: relative;
    
                    transition: opacity 1s,
                                transform 1s;
    
                    @include w760 {
                        width: 60%;
                        height: initial;
                        aspect-ratio: 16 / 9;
                    }
    
                    @include w560 {
                        width: 80%;
                    }
    
                    @for $i from 1 through 5 {
                        &:nth-child(#{$i}) {
                            transition: opacity 0.7s calc( 1s + 0.15s * #{$i} ),
                                        transform 0.7s calc( 1s + 0.15s * #{$i} );
                        }
                    }
    
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
    
                        position: absolute;
                        top: 0;
                        left: 0;
    
                        z-index: -1;
    
                        background-color: #414141;
    
                        transition: transform 0.5s;
                    }
    
                    .project-ss {
                        width: 100%;
                        height: 100%;
    
                        position: relative;
    
                        background-color: #414141;
                        background-color: white;
    
                        transition: transform 0.5s;
    
                        img {
                            width: 100%;
                            height: 100%;
    
                            object-fit: fill;
                        }
    
                        .languages {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 10px;
    
                            display: flex;
                            gap: 5px;
    
                            opacity: 0;
                            visibility: hidden;
                            background-color: white;
    
                            transition: opacity 0.5s,
                                        visibility 0s 0.5s;
    
                            .lang {
                                width: 30px;    
                                height: 30px;
    
                                position: relative;
                                
                                
                                .logo {
                                    width: 100%;
                                    height: 100%;
                                    
                                    background-color: #414141;
                                    mask-size: 100%;
                                }
    
                                &::before {
                                    padding: 5px 10px;
                                    position: absolute;
                                    bottom: calc(100% + 20px);
                                    opacity: 0;
    
                                    background-color: white;
    
                                    transition: opacity 0.5s;
                                }
    
                                &.lang-html {
                                    .logo {
                                        mask-image: url('../assets/html.svg');
                                    }
                                    
                                    &::before {
                                        content: 'Html';
                                    }    
                                }
                                
                                &.lang-css {
                                    .logo {
                                        mask-image: url('../assets/css.svg');
                                    }
                                    
                                    &::before {
                                        content: 'Css';
                                    }    
                                }
                                
                                &.lang-js {
                                    .logo {
                                        mask-image: url('../assets/js.svg');
                                    }
                                    
                                    &::before {
                                        content: 'Javascript';
                                    }    
                                }
                                
                                &.lang-reactjs {
                                    .logo {
                                        mask-image: url('../assets/reactjs.svg');
                                    }
                                    
                                    &::before {
                                        content: 'ReactJs';
                                    }    
                                }
    
                                &.lang-sass {
                                    .logo {
                                        mask-image: url('../assets/sass.svg');
                                    }
    
                                    &::before {
                                        content: 'Sass';
                                    }    
                                }

                                &.lang-angular {
                                    .logo {
                                        mask-image: url("../assets/angular.svg");
                                    }

                                    &::before {
                                        content: "Angular";
                                    }
                                }

                                &.lang-typescript {
                                    .logo {
                                        mask-image: url("../assets/typescript.svg");
                                    }

                                    &::before {
                                        content: "Typescript";
                                    }
                                }
    
                                &:hover {
                                    &::before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
    
                        .project-name {
                            position: absolute;
                            top: calc(100% + 20px);
                            left: 10px;
                            padding: 5px 10px;
    
                            color: #414141;
                            font-size: 1.3rem;
                            background-color: white;
                            
                            opacity: 0;
                            transition: opacity 0.5s;
                        }
    
                        a {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            padding: 5px 10px;
    
                            color: #414141;
                            text-decoration: none;
                            background-color: white;
    
                            opacity: 0;
                            visibility: hidden;
                            font-size: 1.4rem;
    
                            transition: opacity 0.5s,
                                        visibility 0s 0.5s;
                        }
                    }
    
                    &:hover {
                        z-index: 1;
    
                        &::before {
                            transform: translate(5px, 5px);
                        }
    
                        .project-ss {
                            transform: translate(-5px, -5px);
    
                            .languages {
                                opacity: 1;
                                visibility: visible;
    
                                transition: opacity 0.5s;
                            }
    
                            .project-name {
                                opacity: 1;
                            }
    
                            a {
                                opacity: 1;
                                visibility: visible;
    
                                transition: opacity 0.5s;
                            }
                        }
                    }
                }
            }
        }

        @include w1024 {
            .background-text {
                width: 105%;
                aspect-ratio: 1307 / 408;
            }
        }
    }

    &.close {

        .wrapper {

            .projects {
                
                .projects-navigation {
                    opacity: 0;
                }

                .projects-container {
    
                    .project {
                        opacity: 0;
                        transform: translateY(100%);
    
                        transition: opacity 1s,
                                    transform 1s;
                    }
                }
            }


            &.init {

                .projects {

                    .projects-navigation {
                        transition: none;
                    }


                    .projects-container {
        
                        .project {
                            transition: none;
                        }
        
                    }
                }
            }
        }

    }

}